/* nav section */
.nav {
  display: block;
  background-color: #9099a2;
  padding: 1rem 2rem;
}

.logo {
  display: inline-block;
  width: 18rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(79, 77, 77);
}

.menu {
  /* 274 pixels from unknown source */
  /* margin-left = vw - nav padding - logo width - unknown */
  /*margin-left: calc(100vw - 4rem - 100px - 274px);*/
  text-align: right;
}

.menu a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  text-align: right;
  color: white;
}

.menu a:visited {
  color: white;
}

.menu a:hover {
  color: rgb(229, 145, 0);
}

.menu a:active {
  color: rgb(92, 229, 0);
}

#contact-item {
  margin-right: 0px;
}

.menu a.current {
  color: aqua;
}


/* content section */
.content {
  display: flex;
  padding: 0 4rem;
  /* height = vh - nav padding - logo font size - footer height */
  height: calc(100vh);
}

.image {
  display: inline-block;
  width: 200px;
  height: 400px;
  vertical-align: top;
}

.image2 {
  display: inline-block;
  width: 400px;
  height: 200px;
  vertical-align: top;
}

.text-content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 460px);
  padding-left: 4rem;
}

button {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  background-color: #0385c6;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

button:hover {
    background-color: rgb(229, 145, 0);
    color: black;
}



/* footer section */
.footer {
  display: block;
  min-height: 200px;
  /* height: calc(100vh - 2rem - 1.5rem - 4rem - 420px); */
  background-color: #07121d;
  padding: 1rem 2rem;
}

.footer p {
  text-align: center;
  /* margin-top = footer height - footer padding - text size); */
  margin-top: calc(200px - 2rem - 1.5em);
  color: white;
}